$primary-bg: #eef3f7;
$primary-text: #0fa7c8;

$header-bg: #fff;
$header-text: #333;
$header-shadow: rgba(0, 0, 0, .3);

$logo-text: #333;
$logo-shadow: rgba(90, 90, 90, .8);

$white: #fff;
$dark-grey: #333;

$input-border-color: #ddd;
$input-border-focus-color: darken($input-border-color, 15%);

$rating-default-bg: #ecf1f6;
$rating-default-border: #b9b9b9;
$rating-default-text: #b9b9b9;

$rating-active-bg: #0eabcc;
$rating-active-border: #1ba0bd;
$rating-active-text: #fff;

$table-header-bg: #59636c;
$table-header-color: #fff;

$table-body-bg: #fff;
$table-body-color: #7c7c7c;

$table-row-border: #dbdbdb;

$footer-bg: #59636c;
$footer-color: #fff;

$no-results-bg: #f4fdff;
$no-results-color: #333;
